[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "static/aphelion"]
	path = static/aphelion
	url = https://github.com/jrichterpowell/aphelion
